*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  background: hsl(180, 14%, 96%);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}

code {
  word-break: break-all;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.layout {
  display: grid;
  grid-template-areas:
    "header"
    "main";
  grid-template-rows: auto 1fr;
  min-height: 100dvh;
}

.header {
  grid-area: header;
  padding: 1rem 1rem;
}
@media (min-width: 1064px) {
  .header {
    padding-inline: 2rem;
  }
}

.nav-items {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  text-decoration: none;
  color: hsl(180, 8%, 25%);

  &:hover {
    text-decoration: underline;
  }
}

.main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 3rem;
}

.card {
  background: #fff;
  max-width: 1000px;
  width: 100%;
  padding: 4rem 2rem;
  border-radius: 1rem;
  border: 1px solid hsl(180, 6%, 90%);
  box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.1);
}

.page-title {
  text-align: center;
  line-height: 1.25;
  margin-bottom: 3rem;
}

.page-title__top {
  display: block;
  font-size: 2rem;
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
@media (min-width: 600px) {
  .page-title__top {
    font-size: 3rem;
  }
}

.page-title__bottom {
  font-weight: lighter;
  font-size: 1.5rem;
}
@media (min-width: 600px) {
  .page-title__bottom {
    font-size: 2rem;
  }
}

.file-input-label {
  position: relative;
  background: #0000ff;
  color: white;
  margin-inline: auto;
  display: block;
  width: fit-content;
  cursor: pointer;
  padding: 1rem 3rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  transition: transform 0.2s;
  text-align: center;
  &:hover {
    background: #0000cc;
  }
  &:active {
    transform: translateY(2px);
  }
}
@media (min-width: 600px) {
  .file-input-label {
    font-size: 1.5rem;
  }
}

.result-container {
  text-align: center;
  &:has(*) {
    margin-top: 3rem;
  }
}

.result-container__image {
  height: auto;
  margin-top: 2rem;
  display: inline-block;
  max-height: 200px;
  max-width: 500px;
  margin-inline: auto;
}
